* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../images/diamond_upholstery.png);
    background-repeat: repeat-x repeat-y;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    height: 100%;
}

a {
    color: #777777;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-bottom: 3px;
    border-color: #777777;
}

hr {
    height: 2px;
    color: #eee;
    background: #eee;
    font-size: 0;
    border: 0;
}

.jumbotron {
    font-size: 28px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-style: bold;
    padding: 15px;
    float: left;
    margin-left: 50px;
}

.navbar {
    background-color: #ffffff;
    text-align: center;
    align: right;
}

.navbar ul {
    list-style-type: none;
    padding: 21px;
}

.navbar < li {
    margin-left: 50px;
}

.navbar li {
    display: inline;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-size: 24px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    text-align: center;
}

.about-me {
    width: 650px;
    margin: 0px;
    padding: 0px;
    color: #777777;
    float: left;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #777777;
}

#about-me hr 

.about-me-title {
    text-align: center;
    padding: 5px;
}

#headshot-image {
    width: auto;
    height: auto;
    max-width: 200px;
    margin: 5px;
    float: left;
}

.about-me-content {
    width: 50%;
    float: left;
}

#sidebar {
    width: 270px;
    margin: 0px;
    padding: 0px;
    float: right;
    text-align: center;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #777777;
}

#sidebar img {
    width: auto;
    height: auto;
    max-width: 64px;
}

#sidebar ul li {
    display: inline-block;
    padding: 0px;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -25px;
}

.site-footer {
    background-color: #666666;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: auto;
    padding-right: auto;
    clear: both;
}
